{% extends 'test_frame_base.html' %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}
	change-list no-breadcrumbs
{% endblock %}

{% block content-class %}
	content-flexible
{% endblock %}

<!-- TITLE -->
{% block title %}
	Сессии
	|
	{{ test.title }}
	—
	{{ block.super }}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content-title %}
	Статистика по тесту
{% endblock %}

<!-- CONTENT -->
{% block content %}
	
	<div class="container-flexible">
		
		<br clear="all" />
		
		<div class="module aligned">
			
			<h2 class="collapse-handler">
				
				<div id="module-title">
					{{ test.title }}
				</div>
				
				<div id="module-info">
					{{ course.title }}
				</div>
				
			</h2>
			
			<table class="module changelist-results xfull">
				
				<tbody>
					
					<tr class="selected">
						
						<td>
							<p>
								Результат:
								<strong>
									{% if is_passed %}
										<span class="test-result-success">
											зачёт
										</span>
									{% else %}
										<span class="test-result-failure">
											незачёт
										</span>
									{% endif %}
								</strong>
							</p>
						</td>
						
						<th class="span-4">
							
							<ul class="controls actions">
								
								<li class="change-link">
									<a href="{% url courses:course_view course.id %}">
										Вернуться к курсу
									</a>
								</li>
								
							</ul>
							
						</th>
										
					</tr>
					
				</tbody>
				
			</table>
			
			<h2 class="collapse-handler">
				Статистика
			</h2>
			
			<div id="changelist" class="module changelist-results">
				
				<table class="module changelist-results">
					
					<thead>
						
						<tr>
							
							<th class="span-1 sorted descending">
								<a href="javascript:void(null);">
									№
								</a>
							</th>
							
							<th class="span-3">
								<a href="javascript:void(null);">
									Критерий
								</a>
							</th>
							
							<th class="span-3 sorted">
								<a href="javascript:void(null);">
									Верно
								</a>
							</th>
							
							<th class="span-3">
								<a href="javascript:void(null);">
									Пройдено
								</a>
							</th>
							
							<th class="span-3">
								<a href="javascript:void(null);">
									Максимум
								</a>
							</th>
							
						</tr>
						
					</thead>
					
					<tbody>
						
						<tr class="row1">
							
							<td class="sorted centered">
								1
							</td>
							
							<td class="span-3">
								Вопросы
							</td>
							
							<td class="span-3 sorted right">
								{{ count.right }}
							</td>
							
							<td class="span-3 right">
								{{ count.passed }}
							</td>
							
							<td class="span-3 right">
								{{ count.total }}
							</td>
							
						</tr>
						
						<tr class="row2">
							
							<td class="sorted centered">
								2
							</td>
							
							<td class="span-3">
								Баллы
							</td>
							
							<td class="span-3 sorted right">
								{{ rating.got }}
							</td>
							
							<td class="span-3 right">
								&nbsp;
							</td>
							
							<td class="span-3 right">
								{{ rating.total }}
							</td>
							
						</tr>
						
					</tbody>
					
				</table>
				
			</div>
			
		</div>
		
		<br clear="all" />
		
	</div>
	
{% endblock %}
