{% extends 'base_site.html' %}

<!-- NO-NAVIGATION-MENU -->
{% block no-navigation-menu %}
{% endblock %}

<!-- MAIN TITLE -->
{% block main-title %}
	<div id="main-title">
		&lsaquo; &laquo; SimpleLMS &raquo; &rsaquo;
	</div>
{% endblock %}

<!-- TITLE -->
{% block title %}
	Тесты
	|
	{{ course.title }}
	—
	Курсы
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content-title %}
	Тест
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block no-object-tools %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
{% endblock %}
