{% extends 'base_site.html' %}

<!-- EXTRASTYLES --><!-- TEMP -->
{% block extrastyle %}
	{#<link rel="stylesheet" type="text/css" href="/../../static/css/base.css" />#}<!-- TEMP -->
{% endblock %}

<!-- TITLE -->
{% block title %}
	Тесты
	|
	{{ course.title }}
	—
	Курсы
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content-title %}
	Тест
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block no-object-tools %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
{% endblock %}
