{% extends 'test_frame_base.html' %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}
	change-list no-breadcrumbs
{% endblock %}

{% block content-class %}
	content-flexible
{% endblock %}

<!-- TITLE -->
{% block title %}
	Сессии
	|
	{{ test.title }}
	—
	{{ block.super }}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content-title %}
	Тестирование
{% endblock %}

<!-- CONTENT -->
{% block content %}
	
	<div class="container-flexible">
		
		<br clear="all" />
		
		<div class="module aligned">
			
			<h2 class="collapse-handler">
				
				<div id="module-title">
					{{ test.title }}
				</div>
				
				<div id="module-info">
					{{ course.title }}
				</div>
				
			</h2>
			
			<table class="module changelist-results xfull">
				
				<tbody>
					
					<tr>
						
						<td>
							<p>
								&nbsp;
							</p>
						</td>
						
						<th class="span-4">
							
							<ul class="controls actions">
								
								<li class="change-link">
									<a href="">
										Temp
									</a>
								</li>
								
							</ul>
							
						</th>
										
					</tr>
					
				</tbody>
				
			</table>
			
			<!--  -->
			
		</div>
		
	</div>
	
	<!--  -->
	<p>
		Пройдено:
		{{ cnt_passed }}
	</p>
	
	{% if show_result and cnt_passed %}
		<p>
			Результат по предыдущему вопросу:
			{% if prev_result %}
				верно
			{% else %}
				неверно
			{% endif %}
		</p>
	{% endif %}
	
	<p>
		Время окончания тестирования:
		{{ date_limit }}
	</p>
	
	<div id="test_frame">
		
		<div>
			{{ frame.data }}
		</div>
		
		{% if form.non_field_errors %}
			<p>
				{{ form.non_field_errors }}
			</p>
		{% endif %}
		
		{% if form.answer.errors %}
			<p>
				При ответе допущена ошибка:
			</p>
			{{ form.answer.errors }}
		{% endif %}
		
		<form method="post" action="{% url tests:run_test course_id=course.id scheme=test.scheme script_id=test.script_id %}">{% csrf_token %}
			{{ form.answer }}
			<input type="submit" value="Отправить" />
		</form>
		
		<p>
			<a href="{% url tests:finish_test course_id=course.id scheme=test.scheme script_id=test.script_id %}">
				Завершить тест
			</a>
		</p>
		
	</div>
	
{% endblock %}
