
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  structures.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Body
------------------------------------------------------------------------------------------------------ */

body {
	padding: 103px 20px 0;
}

/*  Header
------------------------------------------------------------------------------------------------------ */

#header {
	height: 40px;
	font-size: 16px;
}

/*  Branding, Bookmarks & User-Tools
------------------------------------------------------------------------------------------------------ */

.branding, .admin-title, #bookmarks li, #user-tools li {
	padding: 12px 20px;
}

/*  Breadcrumbs
------------------------------------------------------------------------------------------------------ */

div#breadcrumbs {
	top: 38px;
	padding: 12px 10px 10px 20px;
	font-size: 16px;
	font-weight: bold;
}

/*  Messages
------------------------------------------------------------------------------------------------------ */

ul.messagelist li {
	font-size: 12px;
}

body.popup .breadcrumbs + ul.messagelist {
	top: 34px;
}

body.filebrowser.popup ul.messagelist {
	top: 38px;
}

body.login ul.messagelist {
	top: -63px;
}

/*  Login Form
------------------------------------------------------------------------------------------------------ */

div.login {
	top: -63px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  forms.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Labels & Other Typographic Elements in Forms
------------------------------------------------------------------------------------------------------ */

label {
	font-size: 12px;
}

/*  Errors
------------------------------------------------------------------------------------------------------ */

ul.errorlist {
	font-size: 12px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  typography.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Headings
------------------------------------------------------------------------------------------------------ */

h2 {
	font-size: 14px;
}

/*  Paragraphs & Images
------------------------------------------------------------------------------------------------------ */

.module p.help, p.help {
	font-size: 11px !important;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  components.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Basic Actions & Module Actions
------------------------------------------------------------------------------------------------------ */

ul.actions {
	clear: none;
	float: right;
	padding: 5px 0;
}

ul.actions li {
	float: left;
}

ul.actions li a {
	font-size: 12px;
}

.actions ul li {
	font-size: 12px;
}

/*  Pagination
------------------------------------------------------------------------------------------------------ */

ul.pagination span, ul.pagination a {
	font-size: 12px;
}

ul.pagination li.separator span {
	padding: 7px 3px;
	font-size: 16px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  tables.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Basic Table Settings
------------------------------------------------------------------------------------------------------ */

td, th {
	font-size: 12px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#main-title {
	position: fixed;
	top: 0;
	margin: 0 0 0 -20px;
	padding: 12px 0;
	width: 100%;
	font-family: Agency FB;
	font-size: 34px;
	color: #FF9900;
	text-align: center;
}

div#breadcrumbs.sub-level {
	top: 78px;
	padding: 4px 10px 3px 20px;
	font-size: 14px;
}

div#module-title, .left {
	float: left;
}

div#module-info, .right {
	text-align: right;
}

.right {
	clear: right;
	float: right;
}

.normal {
	font-weight: normal;
}

hr.separator {
	margin-top: 20px;
	clear: both;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}

ul.pagination li.current-of-total {
	margin-top: 5px;
	margin-bottom: 5px;
}

div#footer {
	clear: both;
	padding: 20px 0;
	font-family: Agency FB;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	text-align: center;
}
