{% load i18n grp_tags %}

<div id="header">
	
	<!-- BRANDING -->
	<div class="branding">
		&nbsp;
	</div>
	
	<!-- GREETING -->
	<div class="admin-title">
		{% if user.is_authenticated %}
			Добро пожаловать, {{ user.username }}.
		{% else %}
		    Добро пожаловать!
		{% endif %}
	</div>
	
	<!-- MAIN TITLE -->
	<div id="main-title">
		< < SimpleLMS > >
	</div>
	
	<!-- ACCOUNT -->
	<ul id="user-tools">
		{% if user.is_authenticated %}
			
			<!-- USERNAME -->
			<li class="user-options-container collapse closed">
				<a href="javascript://" class="user-options-handler collapse-handler">
					{{ user.username }}
				</a>
				<ul class="user-options">
					<!-- Logout -->
					<li>
						<a href="{% url accounts:logout %}">
							{% trans 'Log out' %}
						</a>
					</li>
				</ul>
			</li>
			
			<!-- USERLINKS -->
			{% block userlinks %}
			{% endblock %}
			
		{% else %}
			
			<!-- LOGIN && REGISTER -->
			<li class="user-options-container collapse opened">
				<a href="{% url accounts:login %}">
					{% trans 'Log in' %}
				</a>
				|
				<a href="{% url accounts:register %}">
					Регистрация
				</a>
			</li>
			
		{% endif %}
	</ul>
	
	{% block nav-global %}
	{% endblock %}
	
</div>

<script type="text/javascript" charset="utf-8">
	(function($) {
		$(document).ready(function() {
			$("div#header .collapse").grp_collapsible();
		});
	})(django.jQuery);
</script>
