{% extends 'lectures_base.html' %}

{% block title %}{{ lecture.title }} | {{ block.super }}{% endblock %}

{% block content %}
<h3>{{ lecture_page.title }}</h3>
<div>
{{ lecture_page.content|safe }}
</div>

<div class="pagination">
    <p>
        Страница {{ page.number }} из {{ page_cnt }}
    </p>
    <p class="step-links">
        {% if page.has_previous %}
            <a href="{% url lectures:lecture_view course_id=course.id lecture_id=lecture.id page=page.previous_page_number %}">предыдущая</a>
        {% endif %}
        {% if page.has_next %}
            <a href="{% url lectures:lecture_view course_id=course.id lecture_id=lecture.id page=page.next_page_number %}">следующая</a>
        {% endif %}
    </p>
    {% if not page.has_next %}
        <a href="{% url lectures:lecture_finish course_id=course.id lecture_id=lecture.id %}">Завершить</a>
    {% endif %}
    <p>
    </p>
</div>

{% endblock %}
