{% extends 'courses_base.html' %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}
	change-list
{% endblock %}

{% block content-class %}
	content-flexible
{% endblock %}

<!-- TITLE -->
{% block title %}
	{{ block.super }}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content-title %}
	Заявки на курсы
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
	{{ block.super }}
{% endblock %}

<!-- CONTENT -->
{% block content %}
	
	<ul>
		
		{% for course in course_list %}
			
			<li>
				
				<h3>
					{{ course.title }}
				</h3>
				
				<p>
					{{ course.date_created }}
				</p>
				
				<p>
					Количество заявок:
					<strong>
						{{ course.apps_count }}
					</strong>
				</p>
				
				<div class="controls">
					<a href="{% url courses:course_apps course.id %}">
						Просмотреть заявки
					</a>
				</div>
				
		    </li>
		    
		{% endfor %}
		
	</ul>
	
{% endblock %}
