{% extends 'courses_base.html' %}

<!-- TITLE -->
{% block title %}
	Список заявок на курс "
	{{ course.title }}
	" —
	{{ block.super }}
{% endblock %}

<!-- CONTENT -->
{% block content %}
	
	<div class="container-flexible">
		
		<br class="clear" />
		
		<!--  -->
		<table>
			
			<tbody>
				
				{% for app in app_list %}
					
					<tr>
						
						<td>
							{{ app.date_submitted }}
						</td>
						
						<td>
							{{ app.user.userprofile }}
						</td>
						
						<td>
							<a href="{% url courses:accept_app app.id 1 %}">
								Принять
							</a>
							<br />
							<a href="{% url courses:accept_app app.id 0 %}">
								Отклонить
							</a>
						</td>
						
					</tr>
					
				{% endfor %}
				
			</tbody>
			
		</table>
		
		<!--  -->
		<br clear="all" />
		
		<!-- PAGINATION -->
		{% if is_paginated %}
			
			{% include "includes/pagination.html" %}
			
		{% endif %}
		
	</div>

{% endblock %}
