{% extends 'base_site.html' %}

<!-- LOADING -->
{% load user_extras %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}
	change-list
{% endblock %}

{% block content-class %}
	content-flexible
{% endblock %}

<!-- APP-MENU-COURSES -->
{% block app-menu-courses %}
	<ul>
		
		<li>
			<a href="{% url courses:list %}">
				Доступные курсы
			</a>
		</li>
		
		<li>
			<a href="{% url courses:learning_courses %}">
				Мои курсы (учащийся)
			</a>
		</li>
		
		<!-- APP-MENU-COURSES_MANAGER -->
		{% ifusergroup managers %}
			{% block app-menu-courses_manager %}
				<li>
					<a href="{% url courses:managing_courses %}">
						Мои курсы (учитель)
					</a>
				</li>
			{% endblock %}
		{% endifusergroup %}
		
	</ul>
{% endblock %}

<!-- TITLE -->
{% block title %}
	Курсы
{% endblock %}

<!-- BREADCRUMBS-SUB-LEVEL -->
{% block breadcrumbs-sub-level %}
	<div id="breadcrumbs" class="sub-level">
		
		<!-- APP MENU -->
		{% block appmenu %}
			<a href="{% url courses:list %}">
				Доступные курсы
			</a>
			||
			<a href="{% url courses:learning_courses %}">
				Мои курсы (учащийся)
			</a>
		{% endblock %}
		
		<!-- MANAGER MENU -->
		{% ifusergroup managers %}
			{% block appmenu_manager %}
				||
				<a href="{% url courses:managing_courses %}">
					Мои курсы (учитель)
				</a>
			{% endblock %}
		{% endifusergroup %}
		
	</div>
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
	<li>
		<a class="viewsite-handler focus" href="{% url courses:list %}">
			Курсы
		</a>
	</li>
	{{ block.super }}
{% endblock %}
