{% extends 'courses_base.html' %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}
	change-list
{% endblock %}

{% block content-class %}
	content-flexible
{% endblock %}

<!-- TITLE -->
{% block title %}
	Список курсов
	—
	{{ block.super }}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content_title %}
	<h1>
		Список курсов — Учебные курсы
	</h1>
{% endblock %}

<!-- CONTENT -->
{% block content %}
	
	<div class="container-flexible">
		
		<br class="clear" />
		
		<!-- COURSE LIST -->
		{% if not course_list %}
			
			<div class="module aligned">
				
				<div class="row">
					Отсутствуют курсы для отображения в текущем списке.
				</div>
				
			</div>
			
		{% endif %}
		
		{% with nexturl=next|urlencode %}
			
			{% for course in course_list %}
				
				<div class="module aligned">
					
					<h2 class="collapse-handler">
						
						<div id="module-title">
							{{ course.title }}
						</div>
						
						<div id="module-info">
							{{ course.date_created }}
						</div>
						
					</h2>
					
					<table class="module changelist-results xfull">
						
						<tbody>
							
							<tr>
								
								<td>
									{% if course.description %}
										{{ course.description|safe }}
									{% else %}
										&nbsp;
									{% endif %}
								</td>
								
								<th class="span-4">
									<ul class="controls actions">
										
										<li class="add-link">
											
											<a href="{% url courses:submit_app course.id %}?next={{ nexturl }}">
						    					Записаться на курс
						    				</a>
						    				
										</li>
										
									</ul>
								</th>
								
							</tr>
							
						</tbody>
						
					</table>
					
				</div>
				
				<br clear="all" />
				
			{% endfor %}
			
		{% endwith %}
		
		<!-- PAGINATION -->
		{% if is_paginated %}
			
			{% include "includes/pagination.html" %}
			
		{% endif %}
		
	</div>
	
{% endblock %}
