{% extends 'courses_base.html' %}

<!-- LOADING -->
{% load user_extras %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}
	change-list
{% endblock %}

{% block content-class %}
	content-flexible
{% endblock %}

<!-- TITLE -->
{% block title %}
	{{ block.super }}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content-title %}
	{{ course.title }}
	|
	Мои курсы
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
	{% ifusergroup managers %}
		<li>
			<a class="viewsite-handler focus" href="{% url courses:managing_courses %}">
				Курсы учителя
			</a>
		</li>
	{% endifusergroup %}
	<li>
		<a class="viewsite-handler focus" href="{% url courses:learning_courses %}">
			Курсы учащегося
		</a>
	</li>
	{{ block.super }}
{% endblock %}

<!-- CONTENT -->
{% block content %}
	
	<div class="container-flexible">
		
		<br class="clear" />
		
		<div class="module aligned">
			
			<h2 class="collapse-handler">
				
				<div id="module-title">
					{{ course.title }}
				</div>
				
				<div id="module-info">
					{{ course.date_created }}
				</div>
				
			</h2>
			
			<table class="module changelist-results xfull">
				
				<tbody>
					
					<tr class="selected">
						
						<td>
							{% if course.description %}
								{{ course.description|safe }}
							{% else %}
								&nbsp;
							{% endif %}
						</td>
												
					</tr>
					
				</tbody>
				
			</table>
			
			{% for part in course_parts %}
				
				<h2 class="collapse-handler">
					{{ part.num }}
					{{ part.title }}
				</h2>
				
				<table class="module changelist-results xfull">
					
					<tbody>
						
						<tr>
							
							<td>
								{% if part.description %}
									{{ part.description|safe }}
								{% else %}
									&nbsp;
								{% endif %}
							</td>
							
						</tr>
						
					</tbody>
					
				</table>
				
				<table class="module changelist-results xfull">
					
					<thead>
						
						<tr>
							
							<th class="span-1 sorted descending">
								<a href="javascript:void(null);">
									№
								</a>
							</th>
							
							<th class="span-5">
								<a href="javascript:void(null);">
									Название элемента
								</a>
							</th>
							
							<th>
								<a href="javascript:void(null);">
									Описание
								</a>
							</th>
							
							<th class="span-2">
								<a href="javascript:void(null);">
									Действия
								</a>
							</th>
							
						</tr>
						
					</thead>
					
					<tbody>
						
						{% for element in part.part_elements %}
							
							<tr class="{% cycle 'row1' 'row2' %}">
								
								<th class="span-1 sorted centered">
									<p>
										{{ part.num }}.{{ element.num }}
									</p>
								</th>
								
								<td class="span-5">
									<p>
										{{ element.title }}
									</p>
								</td>
								
								<td>
									{% if element.description %}
										{{ element.description|safe }}
									{% else %}
										&nbsp;
									{% endif %}
								</td>
								
								<th class="span-2">
									
									<ul class="controls actions">
										
										<li class="change-link">
											
											{% if element.element_type.model == 'lecture' %}
												
												<a href="{% url lectures:lecture_view course_id=course.id lecture_id=element.object_id %}">
													Открыть
												</a>
												
											{% else %}
												
												{% if element.element_type.model == 'test' %}		
													
													<a href="{% url tests:start_test course_id=course.id test_id=element.object_id %}" target="_blank">
														Открыть
													</a>
													
												{% endif %}
												
											{% endif %}
											
										</li>
										
									</ul>
									
								</th>
								
							</tr>
							
						{% endfor %}
						
					</tbody>
					
				</table>
				
			{% endfor %}
			
		</div>
		
		<br clear="all" />
		
		<!-- PAGINATION -->
		{% if is_paginated %}
			
			{% include "includes/pagination_courses.html" %}
			
		{% endif %}
		
	</div>
	
{% endblock %}
