{% extends 'courses_base.html' %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}
	change-list
{% endblock %}

{% block content-class %}
	content-flexible
{% endblock %}

<!-- TITLE -->
{% block title %}
	Учащийся
	|
	{{ block.super }}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content-title %}
	Список моих курсов
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
	<li>
		<a class="viewsite-handler focus" href="{% url courses:learning_courses %}">
			Курсы учащегося
		</a>
	</li>
	{{ block.super }}
{% endblock %}

<!-- CONTENT -->
{% block content %}
	
	<div class="container-flexible">
		
		<br class="clear" />
		
		<!-- COURSE LIST -->
		{% if not course_list %}
			
			<div class="module aligned">
				
				<div class="row">
					Отсутствуют курсы для отображения в текущем списке.
				</div>
				
			</div>
			
		{% endif %}
		
		{% for course in course_list %}
			
			<div class="module aligned">
				
				<h2 class="collapse-handler">
					
					<div id="module-title">
						{{ course.title }}
					</div>
					
					<div id="module-info">
						{{ course.date_created }}
					</div>
					
				</h2>
				
				<table class="module changelist-results xfull">
					
					<tbody>
						
						<tr>
							
							<td>
								{% if course.description %}
									{{ course.description|safe }}
								{% else %}
									&nbsp;
								{% endif %}
							</td>
							
							<th class="span-6">
								
								<ul class="controls actions">
									
									<li class="change-link">
										
										<a href="{% url courses:course_view course.id %}">
											Открыть курс
										</a>
										
									</li>
									
									<li class="change-link">
										
										<a href="{% url monitoring:user_results user.id course.id %}">
											Мониторинг
										</a>
										
									</li>
									
								</ul>
								
							</th>
							
						</tr>
						
					</tbody>
					
				</table>
				
			</div>
				
			<br clear="all" />
			
		{% endfor %}
		
		<!-- PAGINATION -->
		{% if is_paginated %}
			
			{% include "includes/pagination.html" %}
			
		{% endif %}
		
	</div>
	
{% endblock %}
