<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Главная{% endblock %} — SimpleLMS</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
</head>
<body>
	{% if messages %}
	<ul id="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

	<div id="sidebar">
		{% block topbar %}
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/admin/">Админка</a></li>
		</ul>
		{% endblock %}
	</div>
	
	<div id="account">
		{% if user.is_authenticated %}
		    <p>Добро пожаловать, {{ user.username }}. <a href="{% url accounts:logout %}">Выход</a></p>
		{% else %}
		    <p><a href="{% url accounts:login %}">Вход</a> | <a href="{% url accounts:register %}">Регистрация</a></p>
		{% endif %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

{% if debug %}
<div id="debug">
    <ol>
    {% for q in sql_queries %}
        <li><b>{{ q.time }}s</b>: {{ q.sql }};
    {% endfor %}
    </ol>
</div>
{% endif %}
</body>
</html>