<!-- LOADING -->
{% load i18n user_extras simplelms_tags %}

<!-- VARIABLES -->
{% captureas title %}
	{% spaceless %}
		
		{% block title %}
			Главная
		{% endblock %}
		
	{% endspaceless %}
{% endcaptureas %}

{% captureas content_title %}
	{% spaceless %}
		
		{% block content-title %}
			{% if title %}
				{{ title }}
			{% endif %}
		{% endblock %}
		
	{% endspaceless %}
{% endcaptureas %}

{% captureas object_tools %}
	{% spaceless %}
		
		{% block object-tools %}
			<li>
				<a class="viewsite-handler focus" href="/">Главная</a>
			</li>
		{% endblock %}
		
	{% endspaceless %}
{% endcaptureas %}

{% captureas debug_temp %}
	{% spaceless %}
		
		{% block debug-temp %}
			<strong>[</strong>
			Reserved
			<strong>]</strong>
		{% endblock %}
		
	{% endspaceless %}
{% endcaptureas %}

<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
	
	<meta charset="UTF-8">
	
	<!-- TITLE -->
	<title>
		{% block no-head-content-title %}
			{{ content_title }}
			—
		{% endblock %}
		{{ title }}
		|
		SimpleLMS
	</title>
	
	<!-- STYLESHEETS -->
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/ui/css/custom-theme/jquery-ui-1.8.custom.css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-grappelli-extensions.css" />
	{% endblock %}
	
	<!-- EXTRASTYLES -->
	{% block extrastyle %}
	{% endblock %}
	
	<!-- JAVASCRIPTS -->
	{% block javascripts %}
		<!-- jQuery -->
		<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery/ui/js/jquery-ui-1.8.15.custom.min.js"></script>
		<!-- Grappelli Main JS -->
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/grappelli.js"></script>
		<!-- Grappelli jQuery Plugins, Widgets -->
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_collapsible.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_collapsible_group.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_timepicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_related_fk.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_related_m2m.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_related_generic.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_autocomplete_fk.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_autocomplete_m2m.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/grappelli/jquery.grp_autocomplete_generic.js"></script>
	{% endblock %}
	
	<!-- EXTRAHEAD -->
	{% block extrahead %}
	{% endblock %}
	
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
	
	<div id="container">
		
		<!-- HEADER -->
		{% if not is_popup %}
			{% include "includes/header.html" %}
			
			<!-- BREADCRUMBS -->
			{% block breadcrumbs %}
				<div id="breadcrumbs" class="main-level">
					
					<!-- MAIN MENU -->
					{% block mainmenu %}
						<a href="/">
							Главная
						</a>
						|
						<a href="{% url courses:list %}">Курсы</a>
					{% endblock %}
					
					{% ifusergroup managers %}
						{% block mainmenu_manager %}
							|
							<a href="/admin/">Админка</a>
						{% endblock %}
					{% endifusergroup %}
					
				</div>
				
				<div id="breadcrumbs" class="sub-level">
					
					<!-- HOME -->
					<a href="/">
						{% trans 'Home' %}
					</a>
					
					<!-- APP MENU -->
					{% block appmenu %}
					{% endblock %}
					
					<!-- MANAGER MENU -->
					{% ifusergroup managers %}
						{% block appmenu_manager %}
						{% endblock %}
					{% endifusergroup %}
					
					<!-- TITLE -->
					{% if title %}
						&rsaquo;&rsaquo;
						{% if content_title %}
							{{ content_title }}
							—
						{% endif %}
						{{ title }}
					{% endif %}
					
				</div>
				
			{% endblock %}
		{% endif %}
		
		<!-- MESSAGES -->
		{% block message-list %}
			{% if messages %}
				<ul id="messages" class="messagelist">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
							{{ message|safe }}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endblock %}
		
		<!-- CONTENT -->
		<div id="content" class="{% block content-class %}{% endblock %}">
			
			<!-- Pretitle -->
			{% block pretitle %}
			{% endblock %}
			
			<!-- Content Title -->
			{% block no-content-title %}
				{% if content_title %}
					<h1>
						{{ content_title }}
					</h1>
				{% endif %}
			{% endblock %}
			
			<!-- Object-Tools -->
			{% block no-object-tools %}
				{% if object_tools %}
					<ul class="tools">
						{{ object_tools }}
					</ul>
				{% endif %}
			{% endblock %}
			
			<!-- Content -->
			{% block content %}
				{{ content }}
				{% block filters %}
				{% endblock %}
			{% endblock %}
			
			<br clear="all" />
			
			<!-- DEBUG -->
			{% if debug %}
				
				{% block debug %}
					{% include "includes/debug.html" %}
				{% endblock %}
				
			{% endif %}
			
		</div>
		
		<!-- FOOTER -->
		{% block footer %}
			<div id="footer">
				| © SimpleLMS 2011—2012 |
			</div>
		{% endblock %}
		
	</div>
	
</body>
</html>
