
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  ../components.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Basic Actions & Module Actions
------------------------------------------------------------------------------------------------------ */

ul.actions {
	clear: none;
	float: right;
	padding: 5px 0;
}

ul.actions li {
	float: left;
}

ul.actions li a {
	font-size: 12px;
}

.actions ul li {
	font-size: 12px;
}

/*  Pagination
------------------------------------------------------------------------------------------------------ */

ul.pagination span, ul.pagination a {
	font-size: 12px;
}

ul.pagination li.separator span {
	padding: 7px 3px;
	font-size: 16px;
}

/*  Submit Row
------------------------------------------------------------------------------------------------------ */

ul.submit-row.inline {
	padding: 10px 0 1px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Pagination
------------------------------------------------------------------------------------------------------ */

ul.pagination li.current-of-total {
	margin-top: 5px;
	margin-bottom: 5px;
}
