
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  ../forms.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Labels & Other Typographic Elements in Forms
------------------------------------------------------------------------------------------------------ */

label {
	font-size: 12px;
}

/*  Errors
------------------------------------------------------------------------------------------------------ */

ul.errorlist {
	font-size: 12px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Structures
------------------------------------------------------------------------------------------------------ */

div#form-data {
	padding-bottom: 11px;
}

form#test-form div#form-data input[type=text] {
	width: 100%;
	height: 80px;
	padding-bottom: 60px;
}

form#test-form div#form-data textarea {
	width: 100%;
	height: 80px;
	resize: none;
}
