
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  ../grappelli-skin-default.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  STRUCTURES
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  User Tools
------------------------------------------------------------------------------------------------------ */

li.user-options-container.open a.user-options-handler {
    /* margin-bottom: 6px; */
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  FORMS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Errors
------------------------------------------------------------------------------------------------------ */

#test-frame .errornote.test-frame-errors {
	margin-bottom: 0 !important;
	padding: 8px 10px 6px !important;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}

#test-frame ul.errorlist {
	color: #d93636;
}

/*  TOOLS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  H1 + Tools
------------------------------------------------------------------------------------------------------ */

h1 + .tools a.viewsite-handler:link, h1 + .tools a.viewsite-handler:visited {
	background-color: #444;
	background: #444 0 50% no-repeat scroll;
	background-image: url('../../img/icons/custom/icon-object-tools-viewsite-handler.png'), -moz-linear-gradient(top, #666, #444);
	background-image: url('../../img/icons/custom/icon-object-tools-viewsite-handler.png'), -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
	background-image: url('../../img/icons/custom/icon-object-tools-viewsite-handler.png'), -o-linear-gradient(top, #666, #444);
}

h1 + .tools a.viewsite-handler:hover, h1 + .tools a.viewsite-handler:active {
	background-color: #309bbf;
	background: #309bbf 0 50% no-repeat scroll;
	background-image: url('../../img/icons/custom/icon-object-tools-viewsite-handler-hover.png'), -moz-linear-gradient(top, #39bae5, #309bbf);
	background-image: url('../../img/icons/custom/icon-object-tools-viewsite-handler-hover.png'), -webkit-gradient(linear, left top, left bottom, from(#39bae5), to(#309bbf));
	background-image: url('../../img/icons/custom/icon-object-tools-viewsite-handler-hover.png'), -o-linear-gradient(top, #39bae5, #309bbf);
}

/*  COMPONENTS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Modules
------------------------------------------------------------------------------------------------------ */

div#debug div.module {
	border: 1px solid #bdbdbd;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	background: #eee;
}

div#debug div.module div.module {
	border: 0;
}

/*  MOREOVER
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  li.delete-link + a
------------------------------------------------------------------------------------------------------ */

li.delete-link a:link, li.delete-link a:visited {
	color: #666;
}

li.delete-link a:hover, li.delete-link a:active {
	color: #444;
}
