
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  ../structures.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Body
------------------------------------------------------------------------------------------------------ */

body {
	padding: 103px 20px 0;
}

/*  Header
------------------------------------------------------------------------------------------------------ */

#header {
	height: 40px;
	font-size: 16px;
}

/*  Branding, Bookmarks & User-Tools
------------------------------------------------------------------------------------------------------ */

.branding, .admin-title, #bookmarks li, #user-tools li {
	padding: 12px 20px;
}

/*  Navigation Menu (UL Navigation-Menu of Admin-Tools)
------------------------------------------------------------------------------------------------------ */

ul.navigation-menu li li a {
	font-size: 16px;
}

ul.navigation-menu li li li a {
	font-size: 14px;
}

/*  Breadcrumbs
------------------------------------------------------------------------------------------------------ */

div#breadcrumbs {
	top: 38px;
	padding: 12px 10px 10px 0px;
	font-size: 16px;
	font-weight: bold;
}

/*  Messages
------------------------------------------------------------------------------------------------------ */

ul.messagelist li {
	font-size: 12px;
}

body.popup .breadcrumbs + ul.messagelist {
	top: 34px;
}

body.filebrowser.popup ul.messagelist {
	top: 38px;
}

body.login ul.messagelist {
	top: -63px;
}

/*  Login Form
------------------------------------------------------------------------------------------------------ */

div.login {
	top: -63px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Body
------------------------------------------------------------------------------------------------------ */

body.no-breadcrumbs {
	padding: 40px 20px 0;
}

body.no-breadcrumbs-sub-level {
	padding: 78px 20px 0;
}

/*  Branding, Bookmarks & User-Tools
------------------------------------------------------------------------------------------------------ */

#bookmarks li.main-title {
	padding: 4px 0;
}

#bookmarks a.main-title {
	font-family: Agency FB;
	font-size: 34px !important;
	margin-bottom: 6px;
}

#bookmarks a.main-title:link, #bookmarks a.main-title:visited {
	color: #FF9900 !important;
}

#bookmarks a.main-title:hover, #bookmarks a.main-title:active {
	color: #DDDDDD !important;
}

/*  Breadcrumbs
------------------------------------------------------------------------------------------------------ */

div#breadcrumbs.main-level {
	text-align: center;
}

div#breadcrumbs.sub-level {
	top: 78px;
	padding: 4px 10px 3px 20px;
	font-size: 14px;
	text-align: center;
}
