
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  ../structures.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Body
------------------------------------------------------------------------------------------------------ */

body {
	padding: 103px 20px 0;
}

/*  Header
------------------------------------------------------------------------------------------------------ */

#header {
	height: 40px;
	font-size: 16px;
}

/*  Branding, Bookmarks & User-Tools
------------------------------------------------------------------------------------------------------ */

.branding, .admin-title, #bookmarks li, #user-tools li {
	padding: 12px 20px;
}

/*  Breadcrumbs
------------------------------------------------------------------------------------------------------ */

div#breadcrumbs {
	top: 38px;
	padding: 12px 10px 10px 0px;
	font-size: 16px;
	font-weight: bold;
}

/*  Messages
------------------------------------------------------------------------------------------------------ */

ul.messagelist li {
	font-size: 12px;
}

body.popup .breadcrumbs + ul.messagelist {
	top: 34px;
}

body.filebrowser.popup ul.messagelist {
	top: 38px;
}

body.login ul.messagelist {
	top: -63px;
}

/*  Login Form
------------------------------------------------------------------------------------------------------ */

div.login {
	top: -63px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Body
------------------------------------------------------------------------------------------------------ */

body.no-breadcrumbs {
	padding: 40px 20px 0;
}

/*  Breadcrumbs
------------------------------------------------------------------------------------------------------ */

div#breadcrumbs.main-level {
	text-align: center;
}

div#breadcrumbs.sub-level {
	top: 78px;
	padding: 4px 10px 3px 20px;
	font-size: 14px;
}
