
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  ../tables.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Basic Table Settings
------------------------------------------------------------------------------------------------------ */

td, th {
	font-size: 12px;
}

/*  Thead
------------------------------------------------------------------------------------------------------ */

thead th, tfoot td {
	font-size: 12px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Table Structures
------------------------------------------------------------------------------------------------------ */

table.no-border {
	border: none;
	margin: 0 !important;
}

table.right {
	margin-left: auto !important;
}

/*  Tbody
------------------------------------------------------------------------------------------------------ */

tbody td.sorted {
	font-weight: bold;
}

tbody th.centered, tbody td.centered {
	text-align: center;
}
