
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  ../tables.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Basic Table Settings
------------------------------------------------------------------------------------------------------ */

td, th {
	font-size: 12px;
}

/*  Thead
------------------------------------------------------------------------------------------------------ */

thead th, tfoot td {
	font-size: 12px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  Tbody
------------------------------------------------------------------------------------------------------ */

tbody td.sorted {
	font-weight: bold;
}

tbody th.centered, tbody td.centered {
	text-align: center;
}
