
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  ../tools.css
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 *  Custom
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  H1 + Tools
------------------------------------------------------------------------------------------------------ */

h1 + .tools a.viewsite-handler:link, h1 + .tools a.viewsite-handler:visited {
	padding-left: 30px;
	background: url('../../img/icons/custom/icon-object-tools-viewsite-handler.png') 0 50% no-repeat scroll;
}

h1 + .tools a.viewsite-handler:hover, h1 + .tools a.viewsite-handler:active {
	background: url('../../img/icons/custom/icon-object-tools-viewsite-handler-hover.png') 0 50% no-repeat scroll;
}
