{% extends "base_site.html" %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}
	change-list
{% endblock %}

{% block content-class %}
	content-flexible
{% endblock %}

<!-- TITLE -->
{% block title %}
	{{ block.super }}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content-title %}
	Последние новости
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
	{{ block.super }}
{% endblock %}

<!-- CONTENT -->
{% block content %}
	
	<div class="container-flexible">
		
		<br clear="all" />
		
		{% for article in news_list %}
			
			<div class="module aligned">
				
				<h2 class="collapse-handler">
					
					<div id="module-title">
						{{ article.title }}
					</div>
					
					<div id="module-info">
						{{ article.author.get_full_name }} / {{ article.created }}
					</div>
					
				</h2>
				
				<div class="row">
					
					<div class="column span-flexible normal">
						{% if article.content %}
							{{ article.content|safe }}
						{% else %}
							&nbsp;
						{% endif %}
					</div>
					
				</div>
				
			</div>
			
			<br clear="all" />
			
		{% endfor %}
		
	</div>
	
{% endblock %}
